:root{
    --cl: rgba(0, 0, 0, 0.1);
    --pg: grey;
    --bl: black;
    --wh: white;
    --li: #f4f4f4;

    --h1: 50px;
    --h2: 37px;
    --h3: 24px;
    --fo: 14px;
}

@font-face {
    font-family: inter;
    src: url(Inter.ttf);
}

body{
    margin: auto 20px;
    font-family: inter;
}

p{
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: var(--bl);
}



/*HEADER*/

header{
    border-bottom: 1px solid var(--cl);
    height: 60px;
    margin: auto 20px;
    z-index: 100;
    background-color: var(--wh);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#headerleft{
    display: flex;
    gap: 30px;
    align-items: center;
}

#headerleft img{
    margin-left: 2px;
}

#barky{
    width: 110px;
    height: 23px;
}

nav{
    display: flex;
    gap: 20px;
}

#headerright{
    display: flex;
}

#headerright a{
    border-right: 1px solid var(--cl);
    padding: 1px 20px;
}

#headerright #login{
    border-right: none;
}

#subscription a{
    border-right: none;
    border-radius: 5px;
    color: var(--wh);
    background-color: var(--bl);
    padding: 7px 15px;
}



/*CONTAINER*/

#container{
    max-width: 1000px;
    margin: 0 auto;
}



/*START*/

#start{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-top: 130px;
    padding-bottom: 70px;
}

#start h1{
    font-size: var(--h1);
    margin-bottom: 0;
}

#start p{
    color: var(--pg);
    margin: 10px 0 25px 0;
}

#start img{
    max-width: 500px;
}



/*COMPANIES*/

#companies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    border-top: 1px solid var(--cl);
    border-bottom: 1px solid var(--cl);
    padding: 30px;
}

#companies img{
    max-height: 23px;
}



/*MAIN*/

main{
    padding: 70px 0;
}

main img{
    max-width: 100%;
    box-shadow: 0 0px 30px 5px var(--cl);
    margin: 25px 0;
}

main h2{
    font-size: var(--h2);
    margin: 0;
}

.description{
    max-width: 480px;
    color: var(--pg);
}

.quote{
    font-size: var(--h2);
    font-weight: 700;
    color: var(--pg);
    text-align: center;
    line-height: 1.2;
    margin: 0 auto;
}

.person{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 60px;
}

#lastperson{
    margin-bottom: 0;
}

.person img{
    box-shadow: none;
    width: 60px;
}

.who h3{
    margin-bottom: 0;
}

.who p{
    margin-top: 0;
    color: var(--pg);
}



/*FREEPLAN*/

#freeplan{
    border-top: 1px solid var(--cl);
    border-bottom: 1px solid var(--cl);
    padding: 100px 100px 0;
}

#freeplandescription{
    text-align: center;
    max-width: 560px;
    margin: 0 auto 70px;
}

#freeplandescription h2{
    font-size: var(--h2);
    margin: 0;
}

#freeplandescription p{
    color: var(--pg);
    margin: 5px 0 20px;
}

#freeplan ul{
    background-color:  var(--li);
    padding: 20px 25px;
    border-radius: 10px;
    margin-bottom: 80px;
}

#freeplan li{
    border-bottom: 1px solid var(--cl);
    padding: 10px 0;

    display: flex;
    justify-content: space-between;
}

#freeplan li div{
    color: var(--pg);
}

#freeplan img{
    max-width: 15px;
}

#freeplan #lastlistitem{
    border-bottom: none;
}



/*INFORMATION*/

#information{
    text-align: center;
    padding: 80px 0;
}

#information h2{
    font-size: var(--h2);
    margin: 0;
}

#information p{
    color: var(--pg);
}

#solve{
    margin: 10px 0 40px;
}

#categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#categories a{
    text-decoration: underline;
    text-shadow: 1px 1px 1px var(--cl);
}

#categories h3{
    margin-top: 0;
    font-size: var(--h3);
}

.category{
    border-right: 1px solid var(--cl);
    padding: 0 25px;
}

#lastcategory{
    border-right: none;
}



/*STATISTICS*/

#statistics h2{
    font-size: var(--h2);
    text-align: center;
}

#g2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    row-gap: 30px;
}

#g2left{
    grid-column: 1 / span 2;
}

#g2left h3{
    margin: 0;
    font-size: var(--h3);
}

#g2left p{
    margin-top: 5px;
}

#g2left a{
    text-decoration: underline;
}

#g2right{
    grid-column: 3 / span 2;
}

#g2 img{
    max-width: 450px;
}

.stats{
    text-align: center;
    color: var(--pg);

    border-right: 1px solid var(--cl);
    justify-content: center;
    padding: 5px;
}

.stats h1{
    font-size: var(--h1);
    margin: 0;
}

.stats p{
    margin: 0;
}

#laststat{
    border-right: none;
}

#trybarky{
    padding: 80px 0 100px;
    text-align: center;
}

#trybarky h2{
    margin: 0;
}

#trybarky p{
    margin: 5px 0 25px;
    color: var(--pg);
}



/*FOOTER*/

footer{
    margin: 0 auto;
    max-width: 1200px;
    border-top: 1px solid var(--cl);
    padding: 80px 400px;
    display: flex;
    align-items: start;
    justify-content: center;
}

#share{
    max-width: 300px;
}

#media{
    margin: 20px 0 60px;
}

#media img{
    height: 20px;
}

#footerlinks{
    display: flex;
    gap: 60px;
}

footer ul{
    margin: 0;
}

footer li{
    color: var(--pg);
    list-style: none;
    margin-bottom: 10px;
    font-size: var(--fo);
    font-weight: 600;
}

footer #bold{
    color: var(--bl);
}