@font-face {
    font-family: inter;
    src: url(Inter.ttf);
}

body{
    margin: auto 20px;
    font-family: inter;
}

p{
    line-height: 1.5;
}

header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

#headerleft{
    display: flex;
    gap: 30px;
}

#barky{
    width: 100px;
}

nav{
    display: flex;
    gap: 20px;
}

#headerright{
    display: flex;
}

#headerright a{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1px 20px;
}

#headerright #login{
    border-right: none;
}

#subscription a{
    border-right: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 7px 15px;
}

#container{
    max-width: 1000px;
    margin: 0 auto;
}

#start{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 80px 0;
}

#start h2{
    font-size: 50px;
    margin-bottom: 0;
}

#start p{
    color: grey;
    margin: 10px 0 25px 0;
}

#start img{
    max-width: 500px;
}

#companies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 30px;
}

#companies img{
    max-height: 23px;
}